name: scaling_header
description: Scaling header(appBar) with scroll interactions
version: 1.0.0
author: Figen Güngör <figengungor1@gmail.com>
homepage: https://github.com/figengungor/scaling_header

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
